.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}

.error {
    color: rgb(234, 61, 61);
}